@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090b1aff;
    color: white;
    /*font-family: "Inter", sans-serif;
    font-family: "Lexend Deca", sans-serif;*/
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 300px;
    background-color: aqua;
}

header {
   
}

header img {
    width: 100%;
}